nav {
    @include flex(column nowrap, flex-start, center, center, center, 0);
    background-color: $teal;
    width: 100vw;
    h1, p, a, li {
        color: #ffffff;
    }
    ul {
        @include flex(row nowrap, flex-start, center, center, center, 4em);
        list-style: none;
        li {
            text-transform: uppercase;
        }
    }
}
.english, .norsk {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    height: 24px;
    width: 24px;
    background-color: transparent;
    border: none;
}