@import url("https://use.typekit.net/dly4ncl.css");

body {
    font-family: montserrat, sans-serif;
}
h1 {
    //font-family: suburban, sans-serif;
    font-size: clamp(2.2em, 3vw, 3rem);
    font-weight: 400;
}