@import url("https://use.typekit.net/dly4ncl.css");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  overflow-y: auto;
  overflow-x: hidden;
}

html,
body {
  scroll-behavior: smooth;
  background-color: #EEEEEE;
}

#__next {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  align-self: center;
  align-content: center;
  gap: 0;
}

main {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  align-self: center;
  align-content: center;
  gap: 0;
  background-color: #ffffff;
  width: 80vw;
  box-shadow: 4px 2px 16px rgba(136, 165, 191, 0.48);
}

.choose-languange {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  align-self: center;
  align-content: center;
  gap: 1vmax;
  flex: auto 1 1;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99999;
  background-color: #ffffff;
  height: 100vh;
  width: 100vw;
}
.choose-languange div {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  align-self: center;
  align-content: center;
  gap: 4vmax;
}
.choose-languange img {
  width: 10vmax;
}

body {
  font-family: montserrat, sans-serif;
}

h1 {
  font-family: suburban, sans-serif;
  font-size: clamp(2.5em, 4.5vw, 4rem);
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

nav {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  align-self: center;
  align-content: center;
  gap: 0;
  background-color: #31666B;
  width: 100vw;
}
nav h1, nav p, nav a, nav li {
  color: #ffffff;
}
nav ul {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  align-self: center;
  align-content: center;
  gap: 4em;
  list-style: none;
}
nav ul li {
  text-transform: uppercase;
}

.english, .norsk {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  height: 24px;
  width: 24px;
  background-color: transparent;
  border: none;
}

.mode-wrapper {
  display: flex;
  flex-flow: row nowrap;
  margin-right: 1.5rem;
  width: 44px;
}
.mode-wrapper .light {
  background: #ffd500;
  border-radius: 50%;
  height: 22px;
  width: 22px;
}
.mode-wrapper .dark {
  background: #EEEEEE;
  border-radius: 50%;
  height: 22px;
  width: 22px;
  transform: scale(0.9);
  margin-right: calc(-22px* 0.48);
  margin-left: calc(22px* 0.48);
  transition: margin 1.2s ease-out;
}

[dark] .mode-wrapper .dark {
  transition: margin 1.2s ease-out;
  margin-right: calc(22px* 0.48);
  margin-left: calc(-22px* 0.48);
  background: #191919;
}

[dark] .mode-wrapper .light {
  transition: box-shadow 1.3s ease-out;
}

/*# sourceMappingURL=styles.css.map */
