@import url("https://use.typekit.net/dly4ncl.css");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  overflow-y: auto;
  overflow-x: hidden;
}

html,
body {
  scroll-behavior: smooth;
  background-color: #EEEEEE;
}

#__next {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  align-self: center;
  align-content: center;
  gap: 0;
}

main {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  align-self: center;
  align-content: center;
  gap: 1.5em;
  text-align: center;
  background-color: #ffffff;
  width: 80vw;
  box-shadow: 4px 2px 16px rgba(136, 165, 191, 0.48);
  margin: 0 0 10vmax 0;
}
@media only screen and (max-width: 900px) {
  main {
    width: 90vw;
  }
}

form {
  padding: 0 0 10vmax 0;
}

.form__1 {
  padding: 0;
}

.steps {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  align-self: center;
  align-content: center;
  gap: 2em;
}
.steps article {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  align-self: center;
  align-content: center;
  gap: 2em;
  max-width: 80%;
}

body {
  font-family: montserrat, sans-serif;
}

h1 {
  font-size: clamp(2.2em, 4vw, 4rem);
  font-weight: 400;
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

nav {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  align-self: center;
  align-content: center;
  gap: 8vh;
  background-color: #31666B;
  width: 100vw;
  padding: 8vh 0 1.5rem 0;
}
nav img {
  width: 200px;
  cursor: pointer;
}
nav a,
nav li {
  color: #ffffff;
  font-size: 0.9em;
  letter-spacing: 0.25em;
  font-size: clamp(0.8em, 2vw, 1rem);
}
nav ul {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  align-self: center;
  align-content: center;
  gap: 0 4vw;
  list-style: none;
}
nav ul li {
  text-transform: uppercase;
}

.english,
.norsk {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  height: 24px;
  width: 24px;
  background-color: transparent;
  border: none;
}

footer {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  align-self: center;
  align-content: center;
  gap: 1.5em;
  background-color: #31666B;
  width: 100%;
  max-width: 100vw;
  height: 15rem;
  color: #EEEEEE;
}
footer img {
  height: 2rem;
}

.mode-wrapper {
  display: flex;
  flex-flow: row nowrap;
  margin-right: 1.5rem;
  width: 44px;
}
.mode-wrapper .light {
  background: #ffd500;
  border-radius: 50%;
  height: 22px;
  width: 22px;
}
.mode-wrapper .dark {
  background: #EEEEEE;
  border-radius: 50%;
  height: 22px;
  width: 22px;
  transform: scale(0.9);
  margin-right: calc(-22px* 0.48);
  margin-left: calc(22px* 0.48);
  transition: margin 1.2s ease-out;
}

[dark] .mode-wrapper .dark {
  transition: margin 1.2s ease-out;
  margin-right: calc(22px* 0.48);
  margin-left: calc(-22px* 0.48);
  background: #191919;
}

[dark] .mode-wrapper .light {
  transition: box-shadow 1.3s ease-out;
}

.choose-languange {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  align-self: center;
  align-content: center;
  gap: 3vmax;
  border: none;
  background-color: white;
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 9999999;
  top: 0;
  left: 0;
}
.choose-languange div {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  align-self: center;
  align-content: center;
  gap: 3vmax;
}
.choose-languange img {
  width: 10vmax;
  transition: 0.2s;
  border-radius: 60px;
  border: solid transparent 4px;
}
.choose-languange img:hover {
  transform: scale(1.04);
  transition: 0.2s;
  border: solid rgba(204, 204, 204, 0.5) 4px;
}

.choose-languange + main {
  margin: 0;
}

/*# sourceMappingURL=styles.css.map */
